html,
body {
  font-size: 15px;
}
body {
  margin: 0;
  color: #000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.tittle {
  margin: 0;
  font-size: 2rem;
  color: #194eb4;
  font-weight: 700;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em;
  background: #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}
.btn--primary {
  background: #194eb4;
}
.btn--secondary {
  background: #f2b834;
}
